.custom_body {
  background: #252F48 url(/images/grayfloor.png);
  padding: 0;
  margin: 0;
}

.body_table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
  font-size: 14px;
  text-shadow: 1px 1px #1c1c1c;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

  th {
    //color: #EDB749;
    //border: 1px solid #37B5A5;
    padding: 12px 17px;
    text-align: center;
  }
  td {
    //color: #CAD4D6;
    //border: 1px solid #37B5A5;
    padding: 7px 17px;
  }
}

.header_table {

}

.c_base {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
  font-size: 14px;
  border-collapse: collapse;
  background: #3f4353;
  margin: 0;
  color: #EDB749;
  //border: 1px solid #37B5A5;
  padding: 12px 17px;
  text-align: center;

  box-shadow: #1c1c1c 5px 5px;
}

.c_1 {
  @extend .c_base;
}

.c_2 {
  @extend .c_base;
}

.c_3 {
  @extend .c_base;
}

.c_4 {
  @extend .c_base;
}

.c_5 {
  @extend .c_base;

}