.column_placeholder {
  width: 200px;
}

.column_placeholder_small {
  width: 50px;
}

.column_placeholder_extra_small {
  width: 10px;
}

.row_placeholder {
  height: 50px;
}

.row_placeholder_small {
  height: 50px;
}